<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Machine Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
    <h1>Sorting Machine Controller</h1>
    <button id="start-btn">Start Process</button>
    <button id="stop-btn">Stop Process</button>
    <div>
        <h2>Logs:</h2>
        <div id="log-container"></div>
    </div>
</body>
</html>
